<%- include('includes/header.ejs') %>
  <form class="product-form" action="/users" method="POST">
    <div class="form-control">
      <label for="user">UserName</label>
      <input type="text" name="username" id="username">
    </div>
      <button class="btn" type="submit">Add Product</button>
  </form>
<%- include('includes/footer.ejs') %>